# Database Configuration
DB_ENGINE=mysql
# DB_ENGINE=sqlserver

# MySQL Configuration
MYSQL_HOST=72.60.140.128
MYSQL_PORT=33060
MYSQL_USER=kealabs
MYSQL_PASSWORD=Kea2025@!@
MYSQL_DATABASE=labsbi_mysql_db

# SQL Server Configuration
SQLSERVER_HOST=localhost
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=password
SQLSERVER_DATABASE=labsbi

# JWT Configuration
SECRET_KEY=your-super-secret-key-here

# Environment Configuration
ENVIRONMENT=dev
PORT=6002